* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

button {
    border-radius: 50px;
    padding: 5px 10px;
    background-color: blueviolet;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;

    &:active {
        transform: scale(0.9);
    }
}
.input {
    flex-direction: column;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
input {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;

}

.btn {
    background-color: unset;
    position: absolute;
    right: 15px;
    top: 28%;
}
.btn img {
    width: 30px;
    height: 20px;
    object-fit: cover;
}
select {
    border-radius: 10px;

    width: 274px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;

}
option {
    font-size: 20px;

}
.boxes {
    margin: 200px auto ;
    width: 320px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
padding: 15px 0;}
.bx {
    display: block;
}
.pswbtn {
    position: relative;
    display: inline-block;
}
h3, h2 {
    text-align: center;
}